<h1 class="mb-4">Cadastros Extras</h1>
<div class="row">
  <div class="col-md-6">

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Tipos de Entidade</h5>
        <p class="card-text">Gerencie os tipos de entidade aqui.</p>
        <%= link_to "Ver Tipos de Entidade", @tipos_de_entidade, class: "btn btn-primary" %>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Tipos de Tecidos</h5>
        <p class="card-text">Gerencie os tipos de tecidos aqui.</p>
        <%= link_to "Ver Tipos de Tecidos", @tipos_de_tecido, class: "btn btn-primary" %>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Cores</h5>
        <p class="card-text">Gerencie as cores aqui.</p>
        <%= link_to "Ver Cores", @cores, class: "btn btn-primary" %>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Tipos de Peças</h5>
        <p class="card-text">Gerencie os tipos de peças aqui.</p>
        <%= link_to "Ver Tipos de Peças", @tipos_de_peca, class: "btn btn-primary" %>
      </div>
    </div>
    
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Tamanhos de Peças</h5>
        <p class="card-text">Gerencie os tamanhos de peças aqui.</p>
        <%= link_to "Ver Tamanhos de Peças", @tamanhos_de_peca, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
