<%= javascript_include_tag 'campos_entidade' %>

<h1>Editar Entidade</h1>

<% flash[:alert] = [] %>
<%= form_for(@entity) do |f| %>

  <%= render 'form', f: f %>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-4">
      <%= f.submit "Atualizar", class: "btn btn-primary" %>
      <%#= link_to "Excluir", entity_path(@entity.id), method: :delete, class: "btn btn-danger", data: { confirm: 'Tem certeza que deseja excluir esta entidade?' } %>
      <%= link_to "Cancelar", entidades_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
