<%# Entity.find_or_create_by(
  nome: 'Malharia Tal 3', 
  num_contato: '11 99999-9999', 
  cidade: 'São Paulo', 
  estado: 'SP', 
  entity_types_id: 7
) %>

<h1> Entidades do tipo <%= @entities.first.entity_type.nome %> </h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Contato</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Tipo</th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.nome %></td>
        <td><%= entity.num_contato %></td>
        <td><%= entity.cidade %></td>
        <td><%= entity.estado %></td>
        <td><%= entity.entity_type.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>