<% if @entities.empty? %>
  <h1>Não existem entidades do tipo <%= @entity_type.nome %></h1>
<% else %>
  <h1>Entidades do tipo <%= @entities.first.entity_type.nome %></h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @entities.each do |entity| %>
        <tr>
          <td><%= entity.nome %></td>
          <td><%= entity.cidade %></td>
          <td><%= entity.estado %></td>
          <td><a href="<%= entity_path(entity.id) %>" class="btn btn-info">Detalhes</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "+ Nova Entidade", root_path, class: "btn btn-success mt-3 disabled" %>
<%= link_to "Voltar", entities_by_type_path, class: "btn btn-secondary mt-3" %>
