<style>
  .no-link-effect {
    text-decoration: none; /* Remove a sublinhado */
    color: inherit; /* Mantém a cor do texto padrão */
    /* Outros estilos personalizados, se necessário */
  }
</style>

<h1>Entidades</h1>

<%= form_with url: entidades_path, method: :get do %>
  <div class="btn-group" style="width: 100%;">
    <% @entity_types.each do |type| %>
      <% is_active = params[:filter] == type.id.to_s %>
      <% button_class = "btn btn-outline-secondary #{is_active ? 'active' : ''}" %>
      <%= button_tag type.nome, type: "submit", name: "filter", value: is_active ? nil : type.id, class: button_class %>
    <% end %>
  </div>
<% end %>

<button class="btn btn-outline-secondary" disabled style="visibility: hidden;">Filtrar</button>

<div class="table-responsive">
  <table class="table table-bordered">
    <colgroup>
      <col style="width: 3%;">
      <col style="width: 30%;">
      <col style="width: 15%;">
      <col style="width: 20%;">
      <col style="width: 15%;">
      <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr>
        <th>Nº</th>
        <% if params[:sort] == 'nome' %>
          <th><%= link_to "Nome \\/", request.params.merge(sort: 'nome_'), class: 'no-link-effect' %></th>
        <% else params[:sort] == 'nome_' %>
          <th><%= link_to "Nome /\\", request.params.merge(sort: 'nome'), class: 'no-link-effect' %></th>
        <% end %>
        <th>Tipo</th>
        <% if params[:sort] == 'cidade' %>
          <th><%= link_to "Cidade \\/", request.params.merge(sort: 'cidade_'), class: 'no-link-effect' %></th>
        <% else params[:sort] == 'cidade_' %>
          <th><%= link_to "Cidade /\\", request.params.merge(sort: 'cidade'), class: 'no-link-effect' %></th>
        <% end %>
        <% if params[:sort] == 'estado' %>
          <th><%= link_to "Estado \\/", request.params.merge(sort: 'estado_'), class: 'no-link-effect' %></th>
        <% else params[:sort] == 'estado_' %>
          <th><%= link_to "Estado /\\", request.params.merge(sort: 'estado'), class: 'no-link-effect' %></th>
        <% end %>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @entities.each_with_index do |entity, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= entity.nome %></td>
          <td><%= entity.entity_type.nome %></td>
          <td><%= entity.cidade %></td>
          <td><%= entity.estado %></td>
          <td>
            <a href="<%= entity_path(entity.id) %>" class="btn btn-info">Detalhes</a>
          </td>
        </tr>
      <% end %>
      <%# verifica se tem o numero de pagy.items %>
      <% if @entities.count < @pagy.items %>
        <%# se tiver, preenche o resto da tabela com linhas vazias %>
        <% (@pagy.items - @entities.count).times do %>
          <tr> <%# campo vazio, mas com espaço de como se tivesse algo %>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
              <a href="" class="btn btn-info" disabled style="visibility: hidden;"></a>
            </td>
          </tr>    
        <% end %>
      <% end %>
    </tbody>
  </table>  
</div>


<div style="display: flex; align-items: center;">
  <label>Itens por página: </label>
  <%= select_tag :quant, options_for_select(@quant_items, @pagy.items), class: "form-control", onchange: "changePerPage(this)", style: "width: 40px;" %>
</div>

<script>
  function changePerPage(select) {
    const selectedValue = select.value;
    const currentParams = <%= raw(request.params.except("controller", "action").to_json) %>;
    currentParams["quant"] = selectedValue;
    window.location.href = '<%= entidades_path %>' + '?' + new URLSearchParams(currentParams);
  }
</script>

<div class="text-center">
  <% if @pagy.prev %>
    <%= link_to "Primeira Página", request.params.merge(page: 1), class: "btn btn-primary" %>
    <%= link_to "Página Anterior", request.params.merge(page: @pagy.prev), class: "btn btn-primary" %>
  <% else %>
    <button class="btn btn-secondary" disabled>Primeira Página</button>
    <button class="btn btn-secondary" disabled>Página Anterior</button>
  <% end %>

  <span class="current-page">Página <%= @pagy.page %> de <%= @pagy.pages %></span>

  <% if @pagy.next %>
    <%= link_to "Próxima Página", request.params.merge(page: @pagy.next), class: "btn btn-primary" %>
    <%= link_to "Última Página", request.params.merge(page: @pagy.last), class: "btn btn-primary" %>
  <% else %>
    <button class="btn btn-secondary" disabled>Próxima Página</button>
    <button class="btn btn-secondary" disabled>Última Página</button>
  <% end %>
</div>

<a href="<%= new_entity_path(1) %>" class="btn btn-success mt-3">+ Nova Entidade</a>
<a href="<%= root_path %>" class="btn btn-secondary mt-3">Voltar</a>
