<style>
  #manual-button {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 5px 10px;
    text-decoration: none;
    color: #495057;
    border-radius: 5px;
    
    position: absolute;
    right: 5%;
  }


  h1 {
    display: inline-block;
    margin-right: 10px;
  }
</style>

<%= javascript_include_tag 'campos_entidade' %>

<h1>Nova Entidade</h1>

<%= link_to 'ajuda', '/assets/Manual-Tecnico-VR-Control.pdf#page=26', id: 'manual-button', target: '_blank' %>


<% flash[:alert] = [] %>
<%= form_for(@entity) do |f| %>

  <%= render 'form', f: f %>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-4">
      <%= f.submit "Criar", class: "btn btn-primary" %>
      <%= link_to "Cancelar", entidades_path, class: "btn btn-secondary" %>
    </div>
  </div>

<% end %>

