<h1 class="mb-4">Detalhes da entidade selecionada</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Nome</th>
        <td><%= @entity.nome %></td>
      </tr>
      <tr>
        <th scope="row">Número de contato</th>
        <td><%= @entity.num_contato %></td>
      </tr>
      <tr>
        <th scope="row">Cidade</th>
        <td><%= @entity.cidade %></td>
      </tr>
      <tr>
        <th scope="row">Estado</th>
        <td><%= @entity.estado %></td>
      </tr>
      <tr>
        <th scope="row">CNPJ</th>
        <td><%= @entity.cnpj %></td>
      </tr>
      <tr>
        <th scope="row">Inscrição Estadual</th>
        <td><%= @entity.ie %></td>
      </tr>
      <tr>
        <th scope="row">Tipo de entidade</th>
        <td><%= @entity.entity_type.nome %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mt-3">
  <% if current_user.user_permission.entities_create || current_user.user_permission.admin %>
    <a href="<%= edit_entity_path(@entity.id) %>" class="btn btn-primary me-3">Editar</a>
  <% end %>
  <a href="<%= entidades_path %>" class="btn btn-secondary">Voltar</a>
</div>
