<%= render partial: 'menu' %>

<%= form_tag update_profile_path, method: :post do %>
  <div class="form-group">
    <%= label_tag :name, "Nome *", class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <%= text_field_tag :name, @user.name, class: "form-control #{'is-invalid' if @user.errors[:name].any? }", placeholder: "Nome" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :password, "Nova Senha" %>
    <div class="col-md-4 inputGroupContainer">
      <%= password_field_tag :password, @user.password, class: "form-control #{'is-invalid' if @user.errors[:password].any?}", placeholder: "Senha" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :confirm_password, "Confirmação de Senha" %>
    <div class="col-md-4 inputGroupContainer">
      <%= password_field_tag :confirm_password, nil, class: "form-control #{'is-invalid' if @confirm_password}", placeholder: "Confirmação de Senha" %>
    </div>
  </div><br >

  <%= submit_tag "Salvar", class: "btn btn-primary" %>
<% end %>
