<h1 class="mb-4">Tamanhos de Roupa</h1>

<table class="mb-4 table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @garment_sizes.each do |garment_size| %>
      <tr>
        <td><%= garment_size.id %></td>
        <td><%= garment_size.nome %></td>
        <td>
          <%= link_to 'Editar', edit_garment_size_path(garment_size), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mb-3">
  <%= link_to "+ Novo Tamanho de Roupa", new_garment_size_path, class: "btn btn-success" %>
  <%= link_to "Voltar", cadastros_extras_path, class: "btn btn-secondary" %>
</div>