<legend>Novo Tamanho de Roupa</legend>

<% flash[:alert] = [] %>

<%= form_with(model: @garment_size) do |f| %>

  <% if @garment_size.errors.any? %>
    <% @garment_size.errors.full_messages.each do |message| %>
      <li><% flash[:alert] << message %></li>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label 'Descrição*', { class: "col-md-4 control-label"} %>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <%= f.text_field :nome, class: "form-control #{f.object.errors[:nome].any? ? 'is-invalid' : ''}", placeholder: "Tamanho de Roupa", required: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Cancelar", garment_sizes_path, class: "btn btn-secondary" %>
    </div>
  </div>
  
<% end %>