<style>
  #notification-container {
    position: fixed;
    top: 80px;
    /* left: 255px; */
    right: 30px;
    z-index: 9999; /* Garante que o contêiner esteja à frente de tudo */
    /* define um limite de largura de 900 px, mas pode ser menor*/
    max-width: 900px;
  }

  .notification {
    margin-bottom: 5px; /* Espaço entre as notificações */
  }
</style>

<div id="notification-container">
  <% if notice %>
    <% if notice.is_a?(Array) %>
      <% notice.each do |message| %>
        <div class="alert alert-success alert-dismissible fade show notification" role="alert">
          <li><%= message %></li>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-success alert-dismissible fade show notification" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% flash[:notice] = [] %>
  <% end %>

  <% if alert %>
    <% if alert.is_a?(Array) %>
      <% alert.each do |message| %>
        <div class="alert alert-danger alert-dismissible fade show notification" role="alert">
          <li><%= message %></li>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger alert-dismissible fade show notification" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% flash[:alert] = [] %>
  <% end %>

  <% if info %>
    <% if info.is_a?(Array) %>
      <% info.each do |message| %>
        <div class="alert alert-info alert-dismissible fade show notification" role="alert">
          <li><%= message %></li>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info alert-dismissible fade show notification" role="alert">
        <%= info %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% flash[:info] = [] %>
  <% end %>
</div>
