<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

   *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  /* a.nav-link {
    background-color: #6c757d;
  } */

  ul, ol {
    padding-left: 0; /* Removes any default padding */
  }

  body{
    background: #f5f6fa;
  }

  .wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 50px;
    left: 0;
    width: 225px;
    height: 100%;
    max-height: 100%; /* Altura máxima do sidebar */
    padding: 20px 0;
    transition: all 0.5s ease;
    overflow-y: auto; /* Adicione esta linha para a barra de rolagem vertical */
  }

  .wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
  }

  .wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
      border-radius: 50%;
    margin: 0 auto;
  }

  .wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
  }

  .wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
  }

  .wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
  }

  .wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
  }

  

  .wrapper .sidebar ul li a:hover,
  .wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background: white;
    border-right: 2px solid rgb(5, 68, 104);
  }

  .wrapper .sidebar ul li a:hover .icon,
  .wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
  }

  .wrapper .sidebar ul li a:hover:before,
  .wrapper .sidebar ul li a.active:before{
    display: block;
  }

  .wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
  }

  .wrapper .section .top_navbar{
    background: rgb(7, 105, 185);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;    
  }

  .wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
  }

  .wrapper .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
  }

  .wrapper .section .container{
    background: #fff;
    padding: 50px;
    line-height: 28px;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    min-width: calc(100vh - 60px);
    margin: 15px; /* mudar para lados x10px */
    margin-top: 65px; /* mudar para topo x10px */
    min-height: calc(100vh - 80px); /* mudar para base x20px */
  }
  
  body.active .wrapper .sidebar{
    left: -225px;
  }


  body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
  }

  .link-sem-efeito {
    text-decoration: none;
    color: black;
  }
  
  .dropdown-menu {
    background-color: #265E7F;
  }

  /* Estilize o dropdown-item */
  .dropdown-item {
    min-width: 300px; /* Defina o tamanho mínimo desejado */
  }
</style>

<script>
  $(document).ready(function() {  
    var hamburger = document.querySelector(".hamburger");

    //document.querySelector("body").classList.add("active");
    
    hamburger.addEventListener("click", function(){
      document.querySelector("body").classList.toggle("active");
    })
  });
</script>

<div class="wrapper">
  <div class="section">
    <div class="top_navbar">
      <div class="hamburger">
        <a type="button">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>   
    <%#= render "shared/navbar" %>
    <div class="container">

      <%= render "shared/messages" %>  
      <%= yield %>      

    </div>
  </div>
  <div class="sidebar">
    <div class="profile">
      <%# <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture"> %>
      <a href="<%= root_path %>" class="link-sem-efeito">
        <h3>VRControl</h3>
        <p>Gerente</p>
      </a>

    </div>
    <ul>
      <li>
        <a href="<%= entidades_path %>" class="nav-link <%= 'active' if current_page?(entidades_path) %>">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="item">Entidades</span>
        </a>
      </li>
      <li>
        <a href="<%= financial_records_path %>" class="nav-link <%= 'active' if current_page?('/caixa') %>">
          <span class="icon"><i class="fas fa-desktop"></i></span>
          <span class="item">Transações</span>
        </a>
      </li>
      <li>
        <a class="nav-link dropdown-toggle" id="navbarDropdownEstoque" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon"><i class="fas fa-chart-line"></i></span>
          <span class="item">Estoque</span>
        </a>
        <div class="dropup">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
            <li>
              <a class="dropdown-item" href="<%= tecidos_temp_view_stock_path %>">
                <span class="icon"><i class="fas fa-chart-line"></i></span>
                <span class="item">Tecidos</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= pecas_temp_view_stock_path %>">
                <span class="icon"><i class="fas fa-chart-line"></i></span>
                <span class="item">Peças</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="<%= new_fabric_entry_path %>" class="nav-link <%= 'active' if current_page?(new_fabric_entry_path) || current_page?(new_fabric_entry_details_path) %>">
          <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
          <span class="item">Entrada Tecido</span>
        </a>
      </li>
      <li>
        <a class="nav-link dropdown-toggle" id="navbarDropdownEstoque" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon"><i class="fas fa-cut"></i></span>
          <span class="item">Corte</span>
        </a>
        <div class="dropup">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
            <li>
              <a class="dropdown-item" href="<%= temp_view_corte_envio_path %>">
                <span class="icon"><i class="fas fa-cut"></i></span>
                <span class="item">Corte Envio</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= temp_view_corte_retorno_path %>">
                <span class="icon"><i class="fas fa-cut"></i></span>
                <span class="item">Corte Retorno</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="nav-link dropdown-toggle" id="navbarDropdownEstoque" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon"><i class="fas fa-paint-roller"></i></span>
          <span class="item">Serigrafia</span>
        </a>
        <div class="dropup">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
            <li>
              <a class="dropdown-item" href="<%= temp_view_serigrafia_envio_path %>">
                <span class="icon"><i class="fas fa-paint-roller"></i></span>
                <span class="item">Serigrafia Envio</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= temp_view_serigrafia_retorno_path %>">
                <span class="icon"><i class="fas fa-paint-roller"></i></span>
                <span class="item">Serigrafia Retorno</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="nav-link dropdown-toggle" id="navbarDropdownEstoque" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon"><i class="fas fa-cut"></i></span>
          <span class="item">Costura</span>
        </a>
        <div class="dropup">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
            <li>
              <a class="dropdown-item" href="<%= temp_view_costura_envio_path %>">
                <span class="icon"><i class="fas fa-cut"></i></span>
                <span class="item">Costura Envio</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= temp_view_costura_retorno_path %>">
                <span class="icon"><i class="fas fa-cut"></i></span>
                <span class="item">Costura Retorno</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="nav-link dropdown-toggle" id="navbarDropdownEstoque" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon"><i class="fas fa-tools"></i></span>
          <span class="item">Acabamento</span>
        </a>
        <div class="dropup">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
            <li>
              <a class="dropdown-item" href="<%= temp_view_acabamento_envio_path %>">
                <span class="icon"><i class="fas fa-tools"></i></span>
                <span class="item">Acabamento Envio</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= temp_view_acabamento_retorno_path %>">
                <span class="icon"><i class="fas fa-tools"></i></span>
                <span class="item">Acabamento Retorno</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="nav-link dropdown-toggle" id="navbarDropdownEstoque" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon"><i class="fas fa-shopping-cart"></i></span>
          <span class="item">Venda</span>
        </a>
        <div class="dropup">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
            <li>
              <a class="dropdown-item" href="<%= temp_view_venda_saida_path %>">
                <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                <span class="item">Venda Saída</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= temp_view_venda_retorno_path %>">
                <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                <span class="item">Venda Retorno</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="<%= temp_view_login_path %>" class="nav-link <%= 'active' if current_page?(temp_view_login_path) %>">
          <span class="icon"><i class="fas fa-file-alt"></i></span>
          <span class="item">Relatórios</span>
        </a>
      </li>
      <li>
        <a class="nav-link dropdown-toggle" id="navbarDropdownCadastros" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="item">Cadastros Extras</span>
        </a>
        <div class="btn-group dropup">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCadastros">
            <li>
              <a class="dropdown-item" href="<%= entity_types_path %>">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="item">Tipos de Entidades</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= fabric_types_path %>">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="item">Tipos de Tecidos</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= colors_path %>">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="item">Cores</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= garment_types_path %>">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="item">Tipos de Peças</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= garment_sizes_path %>">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="item">Tamanhos de Peças</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>        
</div>
