<style>
  /* Estilos de enfeite simples */
  .container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  h1 {
    color: #333;
  }
  p {
    color: #666;
  }

  .wrapper .section .container{
    margin: 30px;
    background: #fff;
    padding: 50px;
    line-height: 28px;
    width: auto;
    min-height: 60vh; /* Define uma altura para a pagina */
  }
</style>

<div class="container">
  <h1>Bem-vindo ao VRControle</h1>
</div>

<script>
  $(document).ready(function() {
    // Quando o botão for clicado
    $(".add-field-button").click(function() {
      // Alternar a visibilidade do elemento com ID "div-valor-extra"
      $("#div-valor-extra").toggle();
    });
  });
</script>
<br><br><button type="button" class="add-field-button">Informações Temporárias</button>
<div id="div-valor-extra" style="display: none;">
  <%# Busca e da um inspect em todos os FinancialRecord %> <br>
  <% FinancialRecord.all.each do |financial_record| %>
    <%= financial_record.inspect %><br>
  <% end %>
  <br>

  <%# Busca e mostra todos os FabricEntry %>
  <% FabricEntry.all.each do |fabric_entry| %>
    <%= fabric_entry.inspect %><br>
  <% end %>
  <br>

  <%# Busca e mostra todos os FinancialFabricEntry %>
  <% FinancialFabricEntry.all.each do |financial_fabric_entry| %>
    <%= financial_fabric_entry.inspect %><br>
  <% end %>
  <br>

  <%# Busca e mostra todos os FabricStock %>
  <% FabricStock.all.each do |fabric_stock| %>
    <%= fabric_stock.inspect %><br>
  <% end %>
  <br>

  <%# Busca e mostra todos os FabricStockEntry %>
  <% FabricStockEntry.all.each do |fabric_stock_entry| %>
    <%= fabric_stock_entry.inspect %><br>
  <% end %>
  <br>
</div>