<style>
  h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Arial";
    margin-top: 25vh;
    margin-bottom: 30vh;
  }
</style>

<h1>Bem-vindo ao VRControl</h1>
<%# <h1><%= t 'welcome' </h1> %>

<script>
  $(document).ready(function() {
    // Quando o botão for clicado
    $(".add-field-button").click(function() {
      // Alternar a visibilidade do elemento com ID "div-valor-extra"
      $("#div-valor-extra").toggle();
    });
  });
</script>
<%# <button type="button" class="add-field-button">Informações Temporárias</button> %>
<div id="div-valor-extra" style="display: none;">
  <%# Busca e da um inspect em todos os FinancialRecord %> <br>
  <% FinancialRecord.all.each do |financial_record| %>
    <%= financial_record.inspect %><br>
  <% end %>
  <br>

  <%# Busca e mostra todos os FabricEntry %>
  <% FabricEntry.all.each do |fabric_entry| %>
    <%= fabric_entry.inspect %><br>
  <% end %>
  <br>

  <%# Busca e mostra todos os FinancialFabricEntry %>
  <% FinancialFabricEntry.all.each do |financial_fabric_entry| %>
    <%= financial_fabric_entry.inspect %><br>
  <% end %>
  <br>

  <%# Busca e mostra todos os FabricStock %>
  <% FabricStock.all.each do |fabric_stock| %>
    <%= fabric_stock.inspect %><br>
  <% end %>
  <br>

  <%# Busca e mostra todos os FabricStockEntry %>
  <% FabricStockEntry.all.each do |fabric_stock_entry| %>
    <%= fabric_stock_entry.inspect %><br>
  <% end %>
  <br>
</div>
