<h1 class="mb-4">Tipos de Entidade</h1>

<table class="mb-4 table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @entity_types.each do |entity_type| %>
      <tr>
        <td><%= entity_type.id %></td>
        <td><%= entity_type.nome %></td>
        <td>
          <%= link_to 'Editar', edit_entity_type_path(entity_type), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mb-3">
  <%= link_to "+ Novo Tipo", new_entity_type_path, class: "btn btn-success" %>
  <%= link_to "Voltar", cadastros_extras_path, class: "btn btn-secondary" %>
</div>
