<script>
  $(document).ready(function() {
    updateValorTotal();
    updateValorTotalPeso();

    // Evento de clique no botão "Adicionar Campo"
    $('#add-field-button').click(function(e) {
      e.preventDefault();
      var newRow = $('<tr>');
      var cols = '';

      var fabricTypes = <%= raw @fabric_types.to_json %>;
      var colors = <%= raw @colors.to_json %>;

      
      index = $('table tbody tr').length

      // Crie as colunas para a nova linha
      cols += '<td>' + (index + 1).toString() + '</td>';

      cols += '<td><select name="fabric_stock[' + index + '][tipo_tecido_id]" class="form-select"><option value="" selected>Selecione um tipo...</option>';
      for (var i = 0; i < fabricTypes.length; i++) {
          cols += '<option value="' + fabricTypes[i].id + '">' + fabricTypes[i].nome + '</option>';
      }
      cols += '</select></td>';

      cols += '<td><select name="fabric_stock[' + index + '][cor_id]" class="form-select"><option value="" selected>Selecione uma cor...</option>';
      for (var j = 0; j < colors.length; j++) {
          cols += '<option value="' + colors[j].id + '">' + colors[j].nome + '</option>';
      }
      cols += '</select></td>';

      cols += '<td><input type="text" name="fabric_stock[' + index + '][quantidade]" class="form-control"></td>';
      cols += '<td><input type="text" name="valor_tecido[' + index + ']" class="form-control"></td>';
      cols += '<td><button type="button" class="btn btn-danger remove-row-button">Remover</button></td>';
      newRow.append(cols);

      // Adicione a nova linha à tabela
      $('table tbody').append(newRow);

      updateValorTotal();
      updateValorTotalPeso();
    });

    // Evento de clique no botão "Remover"
    $('table').on('click', '.remove-row-button', function() {
        $(this).closest('tr').remove();
    });

    // Função para calcular e atualizar o valor total
    function updateValorTotal() {
      var valorTotal = 0;
      $('input[name^="valor_tecido"]').each(function() {
        var valorTecido = parseFloat($(this).val());
        if (!isNaN(valorTecido)) {
          valorTotal += valorTecido;
        }
      });
      $('#valor-total').val(valorTotal.toFixed(2)); // Define o valor total com 2 casas decimais
    }

    // Evento de mudança nos campos de valor de tecido
    $(document).on('input', 'input[name^="valor_tecido"]', function() {
      updateValorTotal();
    });

    // Função para calcular e atualizar o valor total
    function updateValorTotalPeso() {
      var valorTotal = 0;
      $('input[name^="fabric_stock"]').each(function() {
        var valorPeso = parseFloat($(this).val());
        if (!isNaN(valorPeso)) {
          valorTotal += valorPeso;
        }
      });
      $('#valor-total-peso').val(valorTotal.toFixed(2)); // Define o valor total com 2 casas decimais
    }

    // Evento de mudança nos campos de valor de peso
    $(document).on('input', 'input[name^="fabric_stock"]', function() {
      updateValorTotalPeso();
    });

    // Evento de clique no botão "Remover"
    $('table').on('click', '.remove-row-button', function() {
      $(this).closest('tr').remove();
      updateValorTotal(); // Atualize o valor total após remover um campo de tecido
      updateValorTotalPeso(); // Atualize o valor total após remover um campo de peso
    });    
  });
</script>

<h1>Entrada de Tecido</h1>
<h3>Seleção de Tecidos</h3>
<br>

<%= form_for @fabric_stocks.first, url: create_fabric_entry_details_path do |f| %>
  <% if @fabric_stocks.any? %>
    <% @fabric_stocks.each_with_index do |fabric_stock, index| %>
      <% if fabric_stock.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <a>Tecido <%= (index + 1).to_s %></a>
          <% fabric_stock.errors.full_messages.each do |message| %>
            <p class="mb-0"><%= message %> </p>
          <% end %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>        
      <% end %>      
    <% end %>
  <% end %>

  <% unless @financial_record.nil? %>
    <% if @financial_record.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <a>Registro Financeiro</a>
        <% @financial_record.errors.full_messages.each do |message| %>
          <p class="mb-0"><%= message %></p>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>

  <div class="input-group mb-3" style="width: 50%;">
    <span class="input-group-text">Total (kg)</span>
    <input type="text" id="valor-total-peso" class="form-control" value="0.00" readonly>
    <span class="input-group-text"></span>
  </div>

  <%= fields_for "FinancialRecord", @financial_record do |fe| %>
    <div class="input-group mb-3">
      <span class="input-group-text">Valor Total</span>
      <%= fe.text_field :valor_, id: "valor-total", readonly: true, value: "#{sprintf('%.2f', @financial_record.valor)}", class: "form-control" %>
    
      <span class="input-group-text">Observação (R$)</span>
      <%= fe.text_area :observacao, class: "form-control" %>
    </div>
  <% end %>
  
  <div class="form-group">
    <button type="button" id="add-field-button" class="btn btn-primary">Mais um tecido</button>
    <%= f.submit 'Finalizar', class: "btn btn-success" %>
  </div><br>

  <table class="mb-4 table table-bordered">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Tipo de Tecido*</th>
        <th>Cor*</th>
        <th>Quantidade (kg)*</th>
        <th>Valor (R$)</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <% @fabric_stocks.each_with_index do |fabric_stock, index| %>
        <%= fields_for "fabric_stock[#{index}]", fabric_stock do |fs| %>
          <tr>
            <td>
              <%= (index + 1).to_s %>
            </td>
            <td>
              <%= fs.collection_select :tipo_tecido_id, @fabric_types, :id, :nome, { include_blank: 'Selecione um tipo...' }, class: "form-select #{'is-invalid' if fabric_stock.errors.has_key?(:tipo_tecido)}" %>
            </td>
            <td>
              <%= fs.collection_select :cor_id, @colors, :id, :nome, { include_blank: 'Selecione uma cor...' }, class: "form-select #{'is-invalid' if fabric_stock.errors.has_key?(:cor)}" %>
            </td>            
            <td>
              <%= fs.text_field :quantidade, class: "form-control #{'is-invalid' if fabric_stock.errors.has_key?(:quantidade)}" %>
            </td>
            <td>
              <input type="text" name="valor_tecido[<%= index %>]" value="<%= @valores_tecido[index] %>" class="form-control <%= 'is-invalid' if @valor_erro_index.include?(index) %>">
            <td>
              <button type="button" class="btn btn-danger remove-row-button" <% if index == 0 %> disabled <% end %>>Remover</button>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>  
<% end %>
