<%= javascript_include_tag "campos_dinheiro" %>

<script>
  $(document).ready(function() {
    $('.fabric-checkbox').each(function() {
      if ($(this).prop('checked')) {
        // Se o checkbox estiver marcado, remova o atributo "disabled" dos campos de entrada de texto correspondentes
        $(this)
          .closest('tr')
          .find('.fabric-input')
          .prop('disabled', false);
      }

      $(this).change(function() {
        // Quando o estado do checkbox mudar, ajuste o atributo "disabled" dos campos de entrada de texto correspondentes
        $(this)
          .closest('tr')
          .find('.fabric-input')
          .prop('disabled', !$(this).prop('checked'));
      });
    });
  });
</script>

<style>
  #manual-button {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 5px 10px;
    text-decoration: none;
    color: #495057;
    border-radius: 5px;
    
    position: absolute;
    right: 5%;
  }


  h1 {
    display: inline-block;
    margin-right: 10px;
  }
</style>

<h1>Tecido ao Corte - Retorno</h1>

<%= link_to 'ajuda', "/assets/Manual-Tecnico-VR-Control.pdf#page=43", id: 'manual-button', target: '_blank' %>

<h5>Informações do Envio</h5>

<% flash[:alert] = [] %>

<%= form_tag create_fabric_cut_return_path do %>
  <% unless @financial_errors.nil? %>
    <% if @financial_errors.any? %>
      <% @financial_errors.each do |message| %>
        <% flash[:alert] << message.full_message %>
      <% end %>
    <% end %>
  <% end %>

  <% erro_financial = false
  
  unless @financial_errors.nil?
    erro_financial = true if @financial_errors[:valor].any?
  end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Lote</th>
        <th>Cortador</th>
        <th>Data de Envio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @lote[:tecido_corte].id %></td>
        <td><%= @lote[:tecido_corte].cortador.nome %></td>
        <td><%= @lote[:tecido_corte].data_hora_ida.strftime("%d/%m/%Y %H:%M") %></td>
      </tr>
    </tbody>
  </table>
  <%= hidden_field_tag :fabric_cut_id, @lote[:tecido_corte].id %>

  <div>
    <%= submit_tag 'Finalizar', class: "btn btn-success" %>
    <a href="<%= return_fabric_cut_path %>" class="btn btn-secondary">Voltar</a>
  </div><br>

  <table class="table table-bordered" style="width: 50%;">
    <thead>
      <tr>
        <th>Data de Retorno</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="datetime-local" name="data_hora_volta" class="form-control" value="<%=@lote[:data_hora_volta].strftime("%Y-%m-%dT%H:%M:%S") %>"></td>
      </tr>
    </tbody>
  </table>

  <% erro_peca = {} %>
  <% unless @errors[:pecas].nil? %>
    <% @errors[:pecas].each do |error| %>
      <% erro_peca[error[:index]] = true %>
      <% flash[:alert] << error[:message] %>
    <% end %>
  <% end %>

  <br><h5>Tecidos Enviados</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Tipo de Tecido</th>
        <th>Cor</th>
        <th>Quantidade (kg)</th>
        <th>Tipo de Peça</th>
        <th>Quantidade (peças)*</th>      
      </tr>
    </thead>
    <tbody>
      <% @lote[:fabric_stock_exits].each_with_index do |fabric_stock_exit, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= fabric_stock_exit[:tipo_tecido] %></td>
          <td><%= fabric_stock_exit[:cor] %></td>
          <td><%= fabric_stock_exit[:quantidade] %></td>
          <td><%= fabric_stock_exit[:tipo_peca] %></td>
          <td><input type="number" name="pecas[<%= index %>]" value="<%= fabric_stock_exit[:pecas] %>"class="form-control <%= 'is-invalid' if erro_peca[index] %>" required placeholder="Quantidade"></td>
        </tr>
      <% end %>        
    </tbody>
  </table>

  <br><h5>Especificar Tamanhos</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Nº</th>
        <% @garment_sizes.each do |garment_size| %>
          <th><%= garment_size.nome %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @lote[:fabric_stock_exits].each_with_index do |fabric_stock_exit, index| %>        
        <tr>
          <td><input type="checkbox" class="form-check-input fabric-checkbox" <%= 'checked' if fabric_stock_exit[:tamanho] %> name="tamanhos[<%= index %>]" value="true"></td>
          <td><%= index + 1 %></td>
          <% @garment_sizes.each_with_index do |garment_size, index_t| %>
            <td>
              <input type="text" class="form-control fabric-input" <%= 'disabled' unless fabric_stock_exit[:tamanho] %> name="tam[<%= index %>][<%= index_t %>]" value="<%= @lote_tamanhos[index][index_t.to_s] %>">
            </td>
            <% if @lote_tamanhos[index][garment_size.to_s] == nil? %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-group">
    <%= submit_tag 'Adicionar Valor Extra', class: "btn btn-primary float-end" %>
  </div><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Valor do Corte*</th>
        <th>Observação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @financial[:valor] = number_to_currency(@financial[:valor], unit: 'R$', separator: ',', delimiter: '.') %>
        <td><input type="text" name="financial[valor]" value="<%=@financial[:valor] %>" class="form-control <%= 'is-invalid' if erro_financial %>" onkeyup="handleMoney(event)" placeholder="R$ 0,00" required></td>
        <td><input type="text" name="financial[obs]" value="<%=@financial[:observacao] %>" class="form-control" placeholder="Observação"></td>
        <td><button type="button" class="remove-row-button btn btn-secondary" readonly disabled>Remover</button></td>
      </tr>
    </tbody>
    <thead>
      <% if @financial_extra.length > 0  %>
        <tr>
          <th colspan="3">Extra</th>
        </tr>
      <% end %>
    </thead>
    <%= form_tag create_fabric_cut_return_path do %>
      <tbody>
        <% @financial_extra.each_with_index do |financial, index| %>
          <tr>
            <td>
              <input type="text" name="financial_extra[<%= index %>][valor]" value="<%= number_to_currency(financial[:valor], unit: 'R$', separator: ',', delimiter: '.') %>" class="form-control" disabled readonly>
            </td>
            <td>
              <input type="text" name="financial_extra[<%= index %>][obs]" value="<%= financial[:observacao] %>" class="form-control" disabled readonly>
            </td>
            <td>
              <%= submit_tag 'Remover', name: "remove_button[#{index}]", class: "btn btn-danger remove-row-button" %>
            </td>
          </tr>
          <%= hidden_field_tag "financial_extra[#{index}][valor]", financial[:valor] %>
          <%= hidden_field_tag "financial_extra[#{index}][obs]", financial[:observacao] %>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% end %>
