<script>
  function changePerPage(select) {
    const selectedValue = select.value;
    const currentParams = <%= raw(request.params.except("controller", "action").to_json) %>;
    currentParams["quant"] = selectedValue;
    window.location.href = '<%= financial_records_path %>' + '?' + new URLSearchParams(currentParams);
  }
</script>

<h1>Registros Financeiros</h1>
<br>

<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <td colspan="6">
        <strong>Saldo: </strong>
        <%= number_to_currency(@saldo, unit: 'R$', separator: ',', delimiter: '.') %>
        <% if current_user.user_permission.financial_create || current_user.user_permission.admin %>
          <%= link_to 'Novo Registro', new_financial_record_path, class: 'btn btn-primary', style: 'float: right; margin-right: 10px;' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Tipo Movimento</th>
      <th>Valor</th>
      <th>Saldo</th>
      <th>Observação</th>
      <th>Data Hora</th>
      <th>Entidade</th>
    </tr>
  </thead>
  <tbody>
    <% @financial_records.each_with_index do |financial_record, index| %>
      <tr>
        <td><%= financial_record[:tipo_movimento] %></td>
        <td><%= number_to_currency(financial_record.valor, unit: 'R$', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(financial_record.saldo, unit: 'R$', separator: ',', delimiter: '.') %></td>
        <td><%= financial_record[:observacao] %></td>
        <td><%= financial_record.data_hora.strftime("%d/%m/%Y %H:%M:%S") %></td>
        <td><%= financial_record[:entidade] %></td>
      </tr>
    <% end %>
    <%# verifica se tem o numero de pagy.items %>
    <% if @financial_records.count < @pagy.items %>
      <%# se tiver, preenche o resto da tabela com linhas vazias %>
      <% (@pagy.items - @financial_records.count).times do %>
        <tr> <%# campo vazio, mas com espaço de como se tivesse algo %>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>    
      <% end %>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <% if @pagy.prev %>
      <li class="page-item">
        <%= link_to "Anterior", request.params.merge(page: @pagy.prev), class: "page-link" %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <span class="page-link">Anterior</span>
      </li>
    <% end %>

    <% @pagy.series.each do |page| %>
      <% if page.is_a?(Integer) %>
        <% if page == @pagy.page %>
          <li class="page-item active" aria-current="page">
            <span class="page-link"><%= page %></span>
          </li>
        <% else %>
          <li class="page-item">
            <%= link_to page, request.params.merge(page: page), class: "page-link" %>
          </li>
        <% end %>
      <% else %>
        <li class="page-item">
          <% if page.is_a?(String)  %>
            <span class="page-link active"><%= page %></span>
          <% else %>
            <span class="page-link disabled">&hellip;</span>
          <% end %>
        </li>
      <% end %>
    <% end %>

    <% if @pagy.next %>
      <li class="page-item">
        <%= link_to "Próximo", request.params.merge(page: @pagy.next), class: "page-link" %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <span class="page-link">Próximo</span>
      </li>
    <% end %>
  </ul>
</nav>

<!-- Botão de Impressão -->
<%# <button class="btn btn-secondary" style="float: right;">Imprimir</button> %>