<h1>Registros Financeiros</h1><br>
<p>
  <%= link_to 'Novo registro', new_financial_record_path, class: 'btn btn-primary' %>
</p>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <td colspan="5">
        <strong>Saldo: </strong>
        <%= number_to_currency(@saldo, unit: 'R$', separator: ',', delimiter: '.') %>
      </td>
    </tr>
    <tr>
      <th>Tipo Movimento</th>
      <th>Valor</th>
      <th>Saldo</th>
      <th>Observação</th>
      <th>Data Hora</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop pelos registros financeiros -->
    <% FinancialRecord.order(id: :desc).each do |financial_record| %>
      <tr>
        <td><%= financial_record.tipo_movimento %></td>
        <td><%= number_to_currency(financial_record.valor, unit: 'R$', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(financial_record.saldo, unit: 'R$', separator: ',', delimiter: '.') %></td>
        <td><%= financial_record.observacao %></td>
        <td><%= financial_record.data_hora.strftime("%d/%m/%Y %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# botão que leva à financial_records#temp_view %>

<%= link_to 'Temp View', temp_view_financial_records_path, class: 'btn btn-primary' %>
