<div class="container mt-4">
  <h1>Movimentações Caixa</h1>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Valor</th>
        <th>Saldo</th>
        <th>Tipo Movimento</th>
        <th>Observação</th>
        <th>Data Hora</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop pelos registros financeiros -->
      <% @financial_records.each do |financial_record| %>
        <tr>
          <td><%= financial_record.valor %></td>
          <td><%= financial_record.saldo %></td>
          <td><%= financial_record.tipo_movimento %></td>
          <td><%= financial_record.observacao %></td>
          <td><%= financial_record.data_hora %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>