<%= javascript_include_tag "campos_dinheiro" %>

<legend>Novo Registro Financeiro</legend>

<%= form_for @financial_record, html: { class: "form-horizontal", id: "formulario" } do |f| %>
  <% if @financial_record.errors.any? %>
    <% @financial_record.errors.full_messages.each do |message| %>
      <% flash[:alert] << message %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :valor, class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <% @financial_record.valor = number_to_currency(@financial_record.valor, unit: 'R$', separator: ',', delimiter: '.') %>
      <%= f.text_field :valor, class: "form-control #{f.object.errors[:valor].any? ? 'is-invalid' : ''}", id: "valor-input", onkeyup: "handleMoney(event)", placeholder: "R$ 0,00", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tipo_movimento, class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <%= f.select :tipo_movimento, ['Entrada', 'Saída'], {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :observacao, class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <%= f.text_field :observacao, class: "form-control", placeholder: "Observação" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :data_hora, class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <%= f.datetime_local_field :data_hora, class: "form-control" %>
    </div>
  </div><br>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit 'Criar Registro Financeiro', class: "btn btn-primary" %>
      <%= link_to 'Voltar', financial_records_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
