<h1>Nova Entrada de Tecido</h1>

<%= form_with model: @fabric_entry, url: create_fabric_entry_path do |form| %>
  <% if @fabric_entry.errors.any? %>
    <div class="alert alert-danger">
      <% @fabric_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

  <% if @financial_record.errors.any? %>
    <div class="alert alert-danger">
      <% @financial_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :entity_id, 'Malharia', class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <%= form.collection_select :entity_id, @malharias, :id, :nome, { prompt: true }, class: "form-control #{form.object.errors[:entity].any? ? 'is-invalid' : ''}" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :data_hora, class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <%= form.datetime_select :data_hora, class: "form-control #{form.object.errors[:data_hora].any? ? 'is-invalid' : ''}" %>
    </div>
  </div>
  
  <%# Campos de FinancialRecord %>
  <br><div>
    <%= form.label :have_extra, 'Custom Extra' %>
    <%= form.check_box :have_extra, { checked: @have_extra } %>
  </div>

  <div class="form-group">
    <%= form.label :valor_extra, class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <%= form.text_field :valor_extra, value: @valor_extra, class: "form-control #{@financial_record.errors[:valor].any? ? 'is-invalid' : ''}" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :obs_extra, class: "col-md-4 control-label" %>
    <div class="col-md-4 inputGroupContainer">
      <%= form.text_field :obs_extra, value: @obs_extra, class: "form-control #{form.object.errors[:obs_extra].any? ? 'is-invalid' : ''}" %>
    </div>
  </div><br>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-4">
      <%= form.submit 'Criar Entrada de Tecido', class: "btn btn-primary" %>
      <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
