<%#= javascript_include_tag "entrada_tecidos" %>
<%= javascript_tag do %>
  document.addEventListener("DOMContentLoaded", function () {
    objetosAdicionais = document.getElementById('objetos-adicionais');
    botaoMaisObjeto = document.getElementById('botao-mais-tecido');
    
    maxObjetoIndex = 0;
    objetosAdicionais.querySelectorAll('select').forEach(function(select) {
      const match = select.id.match(/fabric_stock(\d+)_tipo_tecido_id/);
      if (match && parseInt(match[1]) > maxObjetoIndex) {
        maxObjetoIndex = parseInt(match[1]);
      }
    });
    
    objetoIndex = maxObjetoIndex + 1;

    botaoMaisObjeto.addEventListener('click', function() {
      const novoObjetoHTML = `
        <p>Tecido ${objetoIndex+1}</p>
        
        <p>
          <label for="fabric_stock${objetoIndex}_tipo_tecido_id">Tipo de Tecido</label>
          <select name="fabric_stock${objetoIndex}[tipo_tecido_id]" id="fabric_stock${objetoIndex}_tipo_tecido_id" class="form-control">
            ${copiarOpcoes('fabric_stock_tipo_tecido_id')}
          </select>
        </p>

        <p>
          <label for="fabric_stock${objetoIndex}_cor_id">Cor</label>
          <select name="fabric_stock${objetoIndex}[cor_id]" id="fabric_stock${objetoIndex}_cor_id" class="form-control">
            ${copiarOpcoes('fabric_stock_cor_id')}
          </select>
        </p>

        <p>
          <label for="fabric_stock${objetoIndex}_quantidade">Quantidade</label>
          <input type="text" name="fabric_stock${objetoIndex}[quantidade]" id="fabric_stock${objetoIndex}_quantidade" value="0" class="form-control">
        </p>
        <hr>
      `;

      const novoObjetoDiv = document.createElement('div');
      novoObjetoDiv.innerHTML = novoObjetoHTML;
      objetosAdicionais.appendChild(novoObjetoDiv);

      objetoIndex++; 
    });

    function copiarOpcoes(origemId) {
      const origemSelect = document.getElementById(origemId);
      const opcoes = origemSelect.cloneNode(true); // Clona o elemento select com todas as opções
      const opcoesSelecionadas = opcoes.querySelectorAll('option[selected="selected"]');

      // Remove o atributo selected de todas as opções selecionadas no clone
      opcoesSelecionadas.forEach((opcao) => {
        opcao.removeAttribute('selected');
      });

      return opcoes.innerHTML;
    }

    //botaoMaisObjeto.click();
  });  
<% end %>

Segunda tela
<br>
Adicionar Tecidos
<hr>
<%= form_with model: @fabric_stocks.first, url: create_fabric_entry_details_path do |f| %>
  <% if @fabric_stocks.any? %>
    <% @fabric_stocks.each_with_index do |fabric_stock, index| %>
      <% if fabric_stock.errors.any? %>
        <div class="alert alert-danger">
          <%= 'Tecido ' + (index + 1).to_s %>
          <% fabric_stock.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </div>
      <% end %>    
    <% end %>
  <% end %>

  <p>
    <%= f.label :tipo_tecido_id %><br />
    <%= f.collection_select :tipo_tecido_id, @fabric_types, :id, :nome, { include_blank: 'Selecione um tipo...'}, class: "form-control #{f.object.errors[:tipo_tecido].any? ? 'is-invalid' : ''}" %>
  </p>

  <p>
    <%= f.label :cor_id %><br />
    <%= f.collection_select :cor_id, @colors, :id, :nome, { include_blank: 'Selecione uma cor...' }, class: "form-control #{f.object.errors[:cor].any? ? 'is-invalid' : ''}" %>
  </p>

  <p>
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade, class: "form-control #{f.object.errors[:quantidade].any? ? 'is-invalid' : ''}" %>
  </p>

  <hr>

  <div id="objetos-adicionais">
  <%# implementar aqui %>
    <% if @fabric_stocks.count > 1 %>
      <% @fabric_stocks.each_with_index do |fabric_stock, index| %>
        <% unless index == 0 %>
          <p>Tecido <%= index + 1 %></p>
          <p>
            <label for="fabric_stock<%= index %>_tipo_tecido_id">Tipo de Tecido</label>
            <select name="fabric_stock<%= index %>[tipo_tecido_id]" id="fabric_stock<%= index %>_tipo_tecido_id" class="form-control <%= fabric_stock.errors[:tipo_tecido].any? ? 'is-invalid' : '' %>">
              <option value="" selected>Selecione um tipo...</option> <!-- Placeholder -->
              <%= options_from_collection_for_select(@fabric_types, :id, :nome, fabric_stock.tipo_tecido_id) %>
            </select>
          </p>

          <p>
            <label for="fabric_stock<%= index %>_cor_id">Cor</label>
            <select name="fabric_stock<%= index %>[cor_id]" id="fabric_stock<%= index %>_cor_id" class="form-control <%= fabric_stock.errors[:cor].any? ? 'is-invalid' : '' %>">
              <option value="" selected>Selecione uma cor...</option> <!-- Placeholder -->
              <%= options_from_collection_for_select(@colors, :id, :nome, fabric_stock.cor_id) %>
            </select>
          </p>

          <p>
            <label for="fabric_stock<%= index %>_quantidade">Quantidade</label>
            <input type="text" name="fabric_stock<%= index %>[quantidade]" id="fabric_stock<%= index %>_quantidade" value="<%= fabric_stock.quantidade %>" class="form-control <%= fabric_stock.errors[:quantidade].any? ? 'is-invalid' : '' %>">
          </p>
          <hr>
        <% end %> 
      <% end %>  
    <% end %>
  </div>

  <p>
    <button type="button" id="botao-mais-tecido">Mais um tecido</button>
  </p>  

  <p>
    <%= f.submit 'Adicionar' %>
  </p>
<% end %>

<% fabric_stock_groups = FabricStock.all.group_by { |fabric_stock| [fabric_stock.tipo_tecido.nome, fabric_stock.cor.nome] } %>
<% if fabric_stock_groups.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo de Tecido</th>
        <th>Cor</th>
        <th>Quantidade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% fabric_stock_groups.each do |(tipo, cor), fabric_stocks| %>
        <tr>
          <td><%= fabric_stocks.last.tipo_tecido.nome %></td>
          <td><%= fabric_stocks.last.cor.nome %></td>
          <td><%= fabric_stocks.last.saldo %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%# FabricStock.destroy_all if FabricStock.count > 0 %>
