<h1>Estoque de Peças</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Tipo de Peça</th>
      <th>Costurada</th>
      <th>Estampada</th>
      <th>Quantidade</th>
      <th>Ultima Atualização</th>
    </tr>
  </thead>
  <tbody>
    <% @garment_stocks_groups.each do |(tipo, costurada, estampada), garment_stock| %>
      <tr>
        <td><%= garment_stock.last.tipo_peca.nome %></td>
        <td><%= garment_stock.last.costurada ? "Sim" : "Não" %></td>
        <td><%= garment_stock.last.estampada ? "Sim" : "Não" %></td>
        <td><%= garment_stock.last.saldo %></td>
        <td><%= garment_stock.last.data_hora %></td>
      </tr>
    <% end %>
  </tbody>
</table>
