<%= render partial: 'menu' %> <br><br>

<%= form_with(url: producao_historico_listagem_path, method: :get, target: '_blank') do |f| %>
  <div class="table-wrapper">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Etapa</th>
          <th>Data Inicial</th>
          <th>Data Final</th>
          <th>Ações</th>          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= f.select :etapa, @etapas.collect { |etapa| [etapa[1], etapa[0]] }, { include_blank: "Selecionar" }, { class: "form-control", required: true } %>
          </td>
          <td>
            <%= f.date_field :data_inicio, value: Date.today-1.month, class: "form-control" %>
          </td>
          <td>
            <%= f.date_field :data_fim, value: Date.today, class: "form-control" %>
          </td>
          <td>
            <%= f.submit "Gerar", class: "btn btn-primary" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
