<%= javascript_include_tag "campos_dinheiro" %>

<script>
  $(document).ready(function() {
    //////////////////////////
    // Seletor para o campo de entrada de texto
    var inputField = $("input#quantidade_field");

    inputField.keypress(function(e) {
      var key = e.which;

      // Código ASCII para números (48-57) e vírgula (44)
      if ((key < 48 || key > 57) && key !== 44) {
        e.preventDefault();
      }
    });

    inputField.on('input', function() {
      var currentValue = inputField.val();

      // Substitua todas as vírgulas por pontos
      currentValue = currentValue.replace(/,/g, '');

      // Atualize o valor do campo de entrada
      inputField.val(currentValue);
    });


    //////////////////////////

    // Seleciona a tabela pelo ID (substitua 'myTable' pelo ID da sua tabela)
    $("#myTable").on("keydown", function(event) {
      // Verifica se a tecla pressionada é a tecla "Enter" (código 13)
      if (event.which === 13) {
        // Impede o comportamento padrão do "Enter" (enviar o formulário)
        event.preventDefault();

        // Encontra o botão "Adicionar" e aciona seu evento de clique
        $("input[value='Adicionar']").click();
      }
    });
  });
</script>

<h1>Venda - Retorno</h1><br>

<%= form_tag create_new_sales_path do %>
  <%
    erro_quantidade = false 
    erro_tipo_peca = false
    erro_financial  = false
  %>

  <% unless @garment_finished_stock.nil? %>
    <% if @garment_finished_stock.errors.any? %>
      <% @garment_finished_stock.errors.full_messages.each do |message| %>
        <% flash[:alert] << message %>
      <% end %>
    <% end %>
  <% end %>

  <% 
    if @garment_finished_stock.present? && @garment_finished_stock.errors.any?
      erro_quantidade = true if @garment_finished_stock.errors[:quantidade].any?
      erro_tipo_peca = true if @garment_finished_stock.errors[:tipo_peca].any?
    end
  %>

  <div class="form-group">
    <%= submit_tag 'Finalizar', class: "btn btn-success" %>
  </div><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Vendedor*</th>
        <th>Data e Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= select_tag 'vendedor_id', options_from_collection_for_select(@vendedores, 'id', 'nome', prompt: "Selecione um Vendedor", selected: @garment_sale_return.vendedor_id), class: "form-select", required: true, prompt: "Selecione um Vendedor" %></td>
        <td><%= datetime_local_field_tag 'data_hora', @garment_sale_return.data_hora.try(:strftime, "%Y-%m-%dT%H:%M"), class: "form-control", required: true %></td>
      </tr>
    </tbody>
  </table>

  <div class="input-group mb-3" style="width: 50%;">
    <span class="input-group-text">Total (peças)</span>
    <% quantidade = session[:pecas].map { |peca| peca["quantidade"].to_i }.sum %>
    <input type="text" id="valor-total-qtd" class="form-control" value="<%= quantidade %>" readonly>
    <span class="input-group-text"></span>
  </div>

  <div class="input-group mb-3" style="width: 50%;">
    <span class="input-group-text">Total Valor (R$)</span>
    <% quantidade = session[:financials].map { |financial| financial["valor"].to_f }.sum %>
    <input type="text" id="valor-total-qtd" class="form-control" value="<%= quantidade %>" readonly>
    <span class="input-group-text"></span>
  </div>

  <table class="mb-4 table table-bordered" id="myTable">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Tipo de Peça</th>
        <th>Quantidade (peças)</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>
          <%= select_tag "peca[garment_type_id]", options_from_collection_for_select(@garment_types, :id, :nome, selected: @peca[:garment_type_id]), class: "form-select #{'is-invalid' if erro_tipo_peca }", include_blank: "Selecione um tipo...", id: "garment_type_select" %>
        </td>
        <td>
          <%= text_field_tag "peca[quantidade]", @peca[:quantidade], class: "form-control #{'is-invalid' if erro_quantidade }", id: "quantidade_field", placeholder: "0" %>
        </td>
        <td>
          <%= submit_tag 'Adicionar', class: "btn btn-primary" %>
        </td>
      </tr>
      <% session[:pecas].each_with_index do |peca, index| %>
        <tr>
          <td>
            <%= (index + 1).to_s %>
          </td>
          <%# [{"garment_type_id"=>"1", "quantidade"=>"4000"}, {"garment_type_id"=>"1", "quantidade"=>"1"}, {:garment_type_id=>"1", :quantidade=>"222"}] %>
          <td>
            <%= select_tag "pecas[#{index}][garment_type_id]", options_from_collection_for_select(@garment_types, :id, :nome, selected: peca["garment_type_id"]), class: "form-select", include_blank: "Selecione um tipo...", disabled: true %>
          </td>
          <td>
            <%= text_field_tag "pecas[#{index}][quantidade]", peca["quantidade"], class: "form-control", disabled: true %>
          </td>
          <td>
            <%= form_tag create_new_sales_path do %>
              <%= hidden_field_tag "peca_index", index %>
              <%= submit_tag 'Remover', class: "btn btn-danger remove-row-button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Valor</th>
        <th>Observação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @financial[:valor] = number_to_currency(@financial[:valor], unit: 'R$', separator: ',', delimiter: '.') %>
        <td><input type="text" name="financial[valor]" value="<%=@financial[:valor] %>" class="form-control <%= 'is-invalid' if erro_financial %>" onkeyup="handleMoney(event)" placeholder="R$ 0,00" required></td>
        <td><input type="text" name="financial[obs]" value="<%=@financial[:observacao] %>" class="form-control" placeholder="Observação"></td>
        <td><%= submit_tag 'Adicionar Valor Extra', class: "btn btn-primary" %> </td>
      </tr>
    </tbody>
    <thead>
      <% if session[:financial_extra].length > 0  %>
        <tr>
          <th colspan="3">Extra</th>
        </tr>
      <% end %>
    </thead>
    <%= form_tag create_screen_printing_return_path do %>
      <tbody>
        <% session[:financial_extra].each_with_index do |financial, index| %>
          <tr>
            <td>
              <input type="text" name="financial_extra[<%= index %>][valor]" value="<%= number_to_currency(financial[:valor], unit: 'R$', separator: ',', delimiter: '.') %>" class="form-control" disabled readonly>
            </td>
            <td>
              <input type="text" name="financial_extra[<%= index %>][obs]" value="<%= financial[:observacao] %>" class="form-control" disabled readonly>
            </td>
            <td>
              <%= submit_tag 'Remover', name: "remove_button[#{index}]", class: "btn btn-danger remove-row-button" %>
            </td>
          </tr>
          <%= hidden_field_tag "financial_extra[#{index}][valor]", financial[:valor] %>
          <%= hidden_field_tag "financial_extra[#{index}][obs]", financial[:observacao] %>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% end %>
